
.navbar{
    background-color: #2E64FE;
}

.quem-sou-eu{
    background-color: #81BEF7;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

.nav-link{
    color: whitesmoke;
}

.minha-trajetoria{
    background-color: #8181F7;
}

.o-que-sei-fazer{
    background-color: #2EFEC8;
}

.img{
    width:50%;
}

.bg-footer{
    background-color: black;
    color: white;
}